.categories {
  display: flex;
  flex-direction: row;
  margin: 16px 0 16px 0;

  div:first-child {
    flex-grow: 1;
    // max-width: 60px;
    flex-basis: 0;
  }

  .breadcrum {
    flex-grow: 11;
    flex-basis: 0;
    font-size: 14px;
  }
}
